<h2>Homepage</h2>
<div class="container">
  <div class="contain">
    <h1>NETFLIX ORIGINALS</h1>
    <div class="row">
      <div class="row_posters">
      <% myOriginals.myOriginals.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
          />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Trending Now</h1>
    <div class="row">
      <div class="row_posters">
      <% myTrending.myTrending.slice(0, 16).forEach(x=> { %>
        <!-- outputs severalrow poster(s) -->
        <img 
          class="row_poster" 
          src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
          alt="temp"
        />
      <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Top Rated</h1>
    <div class="row">
      <div class="row_posters">
        <% myTopRated.myTopRated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Family Movies</h1>
    <div class="row">
      <div class="row_posters">
        <% myFamily.myFamily.slice(0, 16).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Animated Movies</h1>
    <div class="row">
      <div class="row_posters">
        <% myAnimated.myAnimated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Romance Movies</h1>
    <div class="row">
      <div class="row_posters">
        <% myRomance.myRomance.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Comedy Movies</h1>
    <div class="row">
      <div class="row_posters">
        <% myComedy.myComedy.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <h1>Action Movies</h1>
    <div class="row">
      <div class="row_posters">
        <% myAction.myAction.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
</div>


