<header id="nav_header">
  <nav id="nav">
    <img id="netflix_logo" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" alt="">
    <form id="search_form" method="GET" action="/search/:search" style="background-color: transparent;">
      <input type="text" name="title" id="title" placeholder="Search ">
      <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div class="dropdown">
      <button class="dropbtn"><i class="fas fa-bars"></i></button>
      <div class="dropdown-content">
        <% if (!currentUser) { %>
          <a href="/auth/signup">Signup</a>
          <a href="/auth/login">Login</a>
          <% } else { %>
            <a href="/auth/logout">Logout</a>
            <a href="/profile">Profile</a>
            <% } %>
      </div>
    </div>

  </nav>
</header>

<div class="container">
  <!-- Banner -->
  <div class="banner_contain">
    <% const banner = myBanner.MyMovies.slice(0, 20) %>
    <% let randomMovie = banner[Math.floor(Math.random() * banner.length - 2)] %>
    <% console.log('randomMovie', randomMovie) %>
    <header class="banner"
    style="background-size: cover;background-image: url('https://image.tmdb.org/t/p/original<%= randomMovie[1] %>');background-position: center center;">
      <div class="banner_contents">
        <h1 class="banner_title">
          <%= randomMovie[0] %>
        </h1>
        <div class="banner_buttons">
                <form action="/watch" method="POST">
                  <input type="hidden" name="watchNowInput" value="<%=randomMovie[2]%>">
                  <button class="banner_button">Play</button>
                </form>
                <form action="/watch-later" method="POST">
                  <input type="hidden" name="userId" value="<%=currentUser.id%>">
                  <input type="hidden" name="videoId" value="<%=randomMovie[2]%>">
                  <input type="hidden" name="videoName" value="<%=randomMovie[0]%>">
                  <input type="hidden" name="overviewInput" value="<%=randomMovie[3]%>">
                  <input type="hidden" name="ratingInput" value="<%=randomMovie[4]%>">
                  <input type="hidden" name="imgInput" value="<%=randomMovie[5]%>">
                  <button class="banner_button" type="submit">My List</button>
                </form>
          <!-- <buttons class="banner_button">My List</buttons> -->
        </div>
        <h1 class="banner_description">
          <%= randomMovie[3].length > 250 ? randomMovie[3].slice(0, 250) + "..." : randomMovie[3] %>
        </h1>
      </div>
      <div class="banner_fader"></div>
    </header>
  </div>
  <!-- Rows -->
  <div class="contain" id="trending_row">
    <div class="row">
      <h1>Trending Now</h1>
      <div class="row_posters">
        <% myTrending.myTrending.slice(0, 15).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_posterLarge" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp"
            onclick="preview('trending_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[1] %>')"
          />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="originals_row">
    <div class="row">
    <h1>NETFLIX ORIGINALS</h1>
      <div class="row_posters">
      <% myOriginals.myOriginals.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp"  
            onclick="preview('originals_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
          />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="top_rated_row">
    <div class="row">
    <h1>Top Rated</h1>
      <div class="row_posters">
        <% myTopRated.myTopRated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('top_rated_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"/>
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="family_row">
    <div class="row">
    <h1>Family Movies</h1>
      <div class="row_posters">
        <% myFamily.myFamily.slice(0, 16).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('family_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
            />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="animated_row">
    <div class="row">
    <h1>Animated Movies</h1>
      <div class="row_posters">
        <% myAnimated.myAnimated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('animated_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
            />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="romance_row">
    <div class="row">
    <h1>Romance Movies</h1>
      <div class="row_posters">
        <% myRomance.myRomance.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('romance_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
            />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="comedy_row">
    <div class="row">
    <h1>Comedy Movies</h1>
      <div class="row_posters">
        <% myComedy.myComedy.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('comedy_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
            />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain" id="action_row">
    <div class="row">
    <h1>Action Movies</h1>
      <div class="row_posters">
        <% myAction.myAction.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_poster" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
            onclick="preview('action_row', '<%= currentUser.id %>','<%= x[2] %>','<%= x[0] %>','<%= x[3] %>','<%= x[4] %>','<%= x[5] %>')"
            />
          <% }) %>
      </div>
    </div>
  </div>
</div>


