<div class="container">
  <!-- Banner -->
  <div class="banner_contain">
    <% const banner = myBanner.MyMovies.slice(0, 20) %>
    <% let randomMovie = banner[Math.floor(Math.random() * banner.length - 1)] %>
    <header class="banner"
    style="background-size: cover;background-image: url('https://image.tmdb.org/t/p/original<%= randomMovie[1] %>');background-position: center center;">
      <div class="banner_contents">
        <h1 class="banner_title">
          <%= randomMovie[0] %>
        </h1>
        <div class="banner_buttons">
          <buttons class="banner_button">Play</buttons>
          <buttons class="banner_button">My List</buttons>
        </div>
        <h1 class="banner_description">
          <%= randomMovie[2] %>
        </h1>
      </div>
      <div class="banner_fader"></div>
    </header>
  </div>
  <!-- Rows -->
  <div class="contain">
    <div class="row">
    <h1>NETFLIX ORIGINALS</h1>
      <div class="row_posters">
      <% myOriginals.myOriginals.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img 
            class="row_posterLarge" 
            src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
            alt="temp" 
          />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
        <div class="row">
    <h1>Trending Now</h1>
      <div class="row_posters">
      <% myTrending.myTrending.slice(0, 16).forEach(x=> { %>
        <!-- outputs severalrow poster(s) -->
        <img 
          class="row_poster" 
          src="https://image.tmdb.org/t/p/original<%= x[1] %>" 
          alt="temp"
        />
      <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Top Rated</h1>
      <div class="row_posters">
        <% myTopRated.myTopRated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Family Movies</h1>
      <div class="row_posters">
        <% myFamily.myFamily.slice(0, 16).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Animated Movies</h1>
      <div class="row_posters">
        <% myAnimated.myAnimated.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Romance Movies</h1>
      <div class="row_posters">
        <% myRomance.myRomance.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Comedy Movies</h1>
      <div class="row_posters">
        <% myComedy.myComedy.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
  <div class="contain">
    <div class="row">
    <h1>Action Movies</h1>
      <div class="row_posters">
        <% myAction.myAction.slice(0, 20).forEach(x=> { %>
          <!-- outputs severalrow poster(s) -->
          <img class="row_poster" src="https://image.tmdb.org/t/p/original<%= x[1] %>" alt="temp" />
          <% }) %>
      </div>
    </div>
  </div>
</div>


