<link rel="stylesheet" href="/css/watchlist.css">

<% watchLater.forEach(function(singleVideo) { %>
  
    <div class = box>
    
    <div class = "image">
      <img style= "width: 300px" src="https://image.tmdb.org/t/p/original<%= singleVideo.movieImg %>">
    </div>

    <div class= "content">
      <p> <%= singleVideo.userId %> </p>
      <p> <%= singleVideo.movieId %> </p>
      <h1> <%= singleVideo.movieName %> </h1>
      <h3> Movie rating: <%= singleVideo.movieRating %>
      <br> <%= singleVideo.movieDescription %> </h3>
    </div>
    
  </div>
  <% }); %>
